.well-known
.env
vendor

data/*
!data/.gitkeep
data/**/
!data/**/.gitkeep

*.apk
composer.lock
uploads/*
!uploads/.gitkeep
uploads/**/
!uploads/**/.gitkeep


application/logs
phpmyadmin
webgl

application/config/email.php

ServerData
appui
demo1
demo2
demo3
demo4
demo5